/* all devices style
---------------------------------------*/
@import "compass";

/* all */

body {
  font-family:sans-serif;
  font-size:16px;
  line-height:1.4;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px !important;
  background-color: #f7f8f9;
  color:#345;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
}

a{
  text-decoration:none;
}

/* container */
.container{
  width:100%;
  position:relative;
  top:50px;
  left:-250px;
}

/* Header */
.header{
  width:100%;
  background-color: #66bb00;
  height:49px;
  border-bottom:1px solid #55aa11;
  position:fixed;
  top:0;
  left:0;
  z-index:100;
}

.logo{
  color:transparent;
  font-size:10px;
  position:absolute;
  top:0;
  left:50%;
  width:150px;
  height:50px;
  overflow-y:hidden;
  margin:0 0 0 -75px;
  padding:0;
  background-image:url("../img/logo@2x.png");
  @include background-size(150px 50px);
  @include inline-block();
}

.slideBtn{
  color:transparent;
  display:block;
  border:none;
  width:49px;
  height:49px;
  background:url("../img/header_icon@2x.png") no-repeat center center;
  @include background-size(49px 49px);
  float:left;
  cursor:pointer;
}


/* UM */
.universalMenu{
  background-color: #333;
  width:250px;
  overflow-y:auto;
  color:#fff;
  position:absolute;
  top:0;
  left:0;
    .h2umType{
      font-size:12px;
      font-weight:bold;
      margin:0 10px;
      padding:5px 0;
      border-bottom:1px solid #222;
      text-shadow: 0 -1px 0 #000;
    }
    .feed{
      margin:0 10px;
      padding:0;
      list-style:none;
    }
    .feed li{
      padding:8px 0 8px 25px;
      font-size:16px;
      font-weight:bold;
      text-shadow: 0 -1px 0 #000;
      background:url("../img/btn_select_off@2x.png") no-repeat left 8px;
      @include background-size(20px 20px);
      cursor:pointer;
    }
    .feed li.currentU{
      background:url("../img/btn_select_on@2x.png") no-repeat left 8px;
      @include background-size(20px 20px);
    }
    .genreChanger{
      margin:5px 10px 0;
      width:210px;
      padding:3px;
    }
    .Uad{
      padding-top:10px;
    }
}

/* Headline */

.h2tl{
  @include background-image(linear-gradient(#f7f8f9, #eee));
  font-size:12px;
  font-weight:bold;
  border-top:1px solid #fff;
  border-bottom:1px solid #ddd;
  padding:8px 10px;
  margin:0;
}

.h3appName{
  font-size:100%;
  line-height:1;
  color:#334455;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  width:220px;
  margin:0;
  padding:0;
  font-weight:bold;
}

@media(min-width: 800px) {
  .appName{
    font-size:120%;
    width:50%;
  }
}

/* Contents */

.contents{
  width:100%;
  position:absolute;
  top:0;
  left:250px;
}

.countryList{
  list-style:none;
  border-bottom:1px solid #d1d2d3;
  width:100%;
  display:table;
  table-layout:fixed;
  @include background-image(linear-gradient(#fff, #e7e8e9));
}

.countryList li{
  color:#789;
  padding:20px 0 18px;
  font-size:14px;
  font-weight:bold;
  line-height:0;
  text-align:center;
  display:table-cell;
  border-right:1px solid #e1e2e3;
  margin:0;
  text-shadow: 0 1px 0 #fff;
  cursor:pointer;
}

.countryList li:last-child{
  border-right:none;
}

.countryList li.current{
  color:#fff;
  text-shadow: 0 -1px 0 #aaa;
  @include background-image(linear-gradient(#d1d2d3, #c1c2c3));
}

.cst{
  border-bottom:1px solid #e7e8e9;
  border-top:1px solid #fff;
  padding:10px 0 10px 0;
  overflow: hidden;
  background:url("../img/arw@2x.png") no-repeat right center;
  @include background-size(16px 16px);
    .in{
      margin-left:70px;
    }
}

.icon{
  float:left;
  width:50px;
  margin:0 10px;
  @include border-radius(10px);
  border:1px solid #e7e8e9;
}

@media(min-width: 800px) {
  .icon{
    width:72px;
    @include border-radius(16px);
  }
}

.appDetail{
  margin:5px 0 0;
  line-height:1;
  font-size:12px;
  color:#aaa;
}

.target{
  margin-bottom: 50px;
}

@media(min-width: 500px) { 
  .target { margin-bottom: 60px; } 
}

@media(min-width: 800px) {
  .target { margin-bottom: 90px; } 
}

/**/
.loading{
  width:100%;
  text-align:center;
  padding:50px 0;
  background:url("../img/loading@2x.gif") no-repeat center center;
  @include background-size(24px 24px);
}

.ad320{
  width:100%;
  min-height: 50px;
  position: fixed;
  text-align: center;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
}