/* PC devices style
---------------------------------------*/
@import "compass";

@media(min-width:800px){
  .appName{
    font-size:120%;
    width:50%;
  }

  .icon{
    width:72px;
    @include border-radius(16px);
  }

  .target{
    margin-bottom:90px;
  } 

  .apprank-responsive{
    width:728px;
    height:90px;
  }
}
